/* for both pages */

nav,footer,header{
    display: block;
}

.menu{
    padding-left: 25%;
}

a:visited, a:hover, a:active, a:focus {
    text-decoration: none!important;
    outline: none !important;
}

body{
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    background-image: linear-gradient(rgb(15, 17, 22), rgb(255, 255, 255));
    height: 100vh;
}

div.container{
    width: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.navbar{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul.topnav{
    width: 100%;
    display: flex;
    justify-content: space-between ;
}

ul.topnav li{
    list-style: none;        
}

a.class-link, a.dropdown{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

@media screen and (max-width: 992px) {
    ul.topnav li a.class-link{
        display: none;
    }

    a.dropdown{
        color: white !important;
    }

    ul.topnav.responsive li.dropdown{
        position: absolute;

    }

    ul.topnav.responsive{
        flex-direction: column;
        text-align: right;
    }

    ul.topnav li{
        position: relative;
        list-style: none;        
    }

    ul.topnav.responsive li{
        position: relative;
        list-style: none;        
    }

    ul.topnav.responsive li a{
        display: block;
        list-style: none;
        line-height: 2;
    }
 
  }

h1#title{
    color: white;
    position: relative;
    font-size: 50px;
    text-align: center;
}


h2.calcheading{
    float: left;
    width: 100%;
    padding-left: 44%;
}

div.calcFormDiv{
    width: 100%;
    float: left;
    padding-left: 40%;
}

form.calcForm{
    padding: 4%;
}

input[type="text"]{
    width: 3%;
}


/*  Main Page Background Image CSS */
div.main_page_back{

    /* background-image: url(./imgs/background590.jpg); */
    position: relative; 
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.main_page_back::before{
    content: "";
    background-image: url(../imgs/background590.jpg);
    opacity: 0.2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    position: absolute;
}

a.cards{
    border-radius: 20px;
    font-size: x-large;
    font-family: monospace;
}

/* Simple Calc Properties */

#title{
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

input.simplecalcbutton{
    width: 70px;
    height: 70px;
    font-size: xx-large;
    margin: 7%;
    cursor: pointer;
}

div.simplecalcmain{

    width: 90%;
    height: 100%;
    margin-left: 5%;
    align-items: center;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);
    background-color: rgb(177, 177, 177);
}

div.card{
    background-color: gray;
    background-image: linear-gradient(rgb(49, 49, 54), rgb(255, 255, 255));
    border: none;
}

div#result{
    height: 120px;
    background-image: linear-gradient(rgb(197, 197, 197), rgb(107, 107, 107));
}

div#keyboard{
    height: 400px;
    background-color: black;
    background-image: linear-gradient(rgb(56, 56, 56), rgb(8, 8, 8));
}

div#history{
    text-align: right;
    height: 50%;
    margin: 0 20px;
    padding-top: 20px;
    font-size: x-large;
    color: #919191;
}

div#output{
    text-align: right;
    height: 40%;
    margin: 10px 20px;
    font-size: xx-large;
}

.operator, .empty, .number{
    width: 17%;
    height: 11%;
    margin: 4%;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: large;
}

.empty, .number{
    background-color: rgb(177, 177, 177);
}

.operator, .number{
    cursor: pointer;
}