nav,footer,header{
    display: block;
}

body{

    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} 


@keyframes example {
    0%   {background-color: black;}
    50%  {background-color: rgb(112, 112, 112);}
    100% {background-color: black;}
  
} 

.menu{
    padding-left: 25%;
}

body{
    background-color: rgb(15, 17, 22);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

div.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

h1#title{
    color: white;
    position: relative;
    font-size: 50px;
    text-align: center;
}

nav.navbar{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul.topnav{
    width: 100%;
    display: flex;
    justify-content: space-between ;
}

ul.topnav li{
    list-style: none;        
}

a.class-link, a.dropdown{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

div#percentageCalculatorDiv{
    position: relative;
    width: 100%;
}

h2.calcheading{
    float: left;
    width: 100%;
    padding-left: 44%;
}

div.calcFormDiv{
    width: 100%;
    float: left;
    padding-top: 1%;
    height: 86vh;
}

input[type="text"]{
    width: 20%;
}



form.calcForm{
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(48, 47, 47), black);
    color: gray;
    font-size: 1.5em;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: .5%;
    margin-bottom: 3%;
    height: 19vh;
    border-radius: 22px;
}

button#percentbutton1{
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #333333;
    border: none;
    color: white;
    padding: 3px 35px;
    float: right;
    margin-right: 3%;
}

button#percentbutton2{
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #333333;
    border: none;
    color: white;
    padding: 3px 35px;
    float: right;
    margin-right: 3%;
}

button#percentbutton3{
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #333333;
    border: none;
    color: white;
    padding: 3px 35px;
    float: right;
    margin-right: 3%;
}

h3.result{
    color: gray;
    margin-top: 2.5%;
}

#model1{
    display: none; /* Hidden by default */
    position: relative;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
    border-radius: 20px;
}

#modal1-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

#model2{
    display: none; /* Hidden by default */
    position: relative;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
    border-radius: 20px;
}

#modal2-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

#model3{
    display: none; /* Hidden by default */
    position: relative;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
    border-radius: 20px;
}

#modal3-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
padding-right: 1%;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

input{
    border-radius: 10px;
}


@media screen and (max-width: 992px) {
    ul.topnav li a.class-link{
        display: none;
    }

    a.dropdown{
        color: white !important;
    }

    ul.topnav.responsive li.dropdown{
        position: absolute;

    }

    ul.topnav.responsive{
        flex-direction: column;
        text-align: right;
    }

    ul.topnav li{
        position: relative;
        list-style: none;        
    }

    ul.topnav.responsive li{
        position: relative;
        list-style: none;        
    }

    ul.topnav.responsive li a{
        display: block;
        list-style: none;
        line-height: 2;
    }

    button#percentbutton1{
        text-decoration: none;
        margin: 20px 2px;
        cursor: pointer;
        background-color: #333333;
        border: none;
        color: white;
        padding: 3px 35px;
        float: right;
        margin-right: 3%;
        border-radius: 10px;
    }
    
    button#percentbutton2{
        text-decoration: none;
        margin: 20px 2px;
        cursor: pointer;
        background-color: #333333;
        border: none;
        color: white;
        padding: 3px 35px;
        float: right;
        margin-right: 3%;
        border-radius: 10px;
    }
    
    button#percentbutton3{
        text-decoration: none;
        margin: 20px 2px;
        cursor: pointer;
        background-color: #333333;
        border: none;
        color: white;
        padding: 3px 35px;
        float: right;
        margin-right: 3%;
        border-radius: 10px;
    }
 
  }

