nav,footer,header{
    display: block;
}

html{
    background-color: gray;
    /* background-image: linear-gradient(white, black); */
     animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes example {
    0%   {background-color: black;}
    50%  {background-color: white;}
    100% {background-color: black;}
  
} 

.menu{
    padding-left: 25%;
}

body{
    /* background-color: black; */
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

div.container{
    width: 100%;
}

h1#title{
    /* color: white; */
    position: relative;
    font-size: 50px;
    text-align: center;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

nav{
    width: 100%;
    padding: 0;
}

nav ul.topnav{
    background-color: lightgray;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul.topnav li{
    float: left;
    padding-left:3%;
    list-style: none;
}

div#percentageCalculatorDiv{
    position: relative;
    width: 100%;
}

h2.calcheading{
    float: left;
    width: 100%;
    padding-left: 44%;
}

div.calcFormDiv{
    width: 100%;
    float: left;
    padding-top: 1%;
    height: 86vh;
}

input[type="text"]{
    width: 20%;
}


/*  Main Page Background Image CSS */
div.main_page_back{

    /* background-image: url(./imgs/background590.jpg); */
    position: relative; 
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.main_page_back::before{
    content: "";
    background-image: url(../imgs/background590.jpg);
    opacity: 0.2;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    position: absolute;
}


/* Simple Calc Properties */

#title{
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

div.container{
    width: 100%;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    /* background-color: gray; */
}

form.calcForm{
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(48, 47, 47), black);
    color: gray;
    font-size: 1.5em;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: .5%;
    margin-bottom: 3%;
    height: 19vh;
    border-radius: 22px;
}

button#percentbutton1{
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #333333;
    border: none;
    color: white;
    padding: 3px 35px;
    float: right;
    margin-right: 3%;
}

button#percentbutton2{
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #333333;
    border: none;
    color: white;
    padding: 3px 35px;
    float: right;
    margin-right: 3%;
}

button#percentbutton3{
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #333333;
    border: none;
    color: white;
    padding: 3px 35px;
    float: right;
    margin-right: 3%;
}

h3.result{
    color: gray;
    margin-top: 2.5%;
}

#model1{
    display: none; /* Hidden by default */
    position: relative;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
    border-radius: 20px;
}

#modal1-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

#model2{
    display: none; /* Hidden by default */
    position: relative;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
    border-radius: 20px;
}

#modal2-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

#model3{
    display: none; /* Hidden by default */
    position: relative;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 1); /* Black w/ opacity */
    border-radius: 20px;
}

#modal3-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
padding-right: 1%;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

input{
    border-radius: 10px;
}